<p>
    © 2020 Johns Hopkins Sheridan Libraries</p>
<p>
    <a href="//www.library.jhu.edu/johns-hopkins-libraries-privacy-and-confidentiality-policy/">Privacy</a>
    <a href="//www.library.jhu.edu/confidentiality-policy/">Confidentiality</a>
    <a href="//www.library.jhu.edu/disclaimer/">Disclaimer</a>
    <a href="//www.library.jhu.edu/policies/">Policies</a>
</p>