<div
  class="layout-container bg-gray-200"
>
  <div class="p-4">
    <div class="container mx-auto bg-white shadow">
      <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
        <h3 class="text-xl font-bold leading-6 line-clamp-1">
          Login
        </h3>
      </div>
      <div class="px-4 py-5 sm:p-6 h-auto">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
