{# extends @bootstrap_barrio/layout/block.html.twig
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
    <div class="main-tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      {{ content }}
    </div>
  {% endif %}
{% endblock %}
