<div class="p-4">
  <div class="container mx-auto bg-white shadow">
    <div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
      <h3 class="text-xl font-bold leading-6 line-clamp-1">
        Website Feedback
      </h3>
    </div>
    <div class="px-20 py-10 h-auto">
      <div class="grid grid-cols-3 xl:grid-cols-7">
        <div class="col-span-3 flex">
          <div class="mx-auto">
            <h2 class="font-bold text-xl text-blue-spirit">Let us know how we can help!</h2>
            <p class="pb-4">
              We would like to hear about your experience using our digital collections
              and would be delighted to answer any questions you might have.
            </p>

            {# Contact page generated Drupal form will be placed here #}
            {{ page.content.idcui_content }}
          </div>
        </div>

        <div class="col-span-1 hidden xl:flex justify-center items-center xl:-mt-48 xl:pl-32">
          <svg width="36px" height="399px" viewBox="0 0 36 399" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>contact_us_divider</title>
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Paragraf_-_symbol">
                      <path d="M8.4003,165.5 C2.200296,169.7 1.371302,178.326832 6.69961,183.899903 L8.89981,186.201172 L5.19961,189.800293 C1.409774,193.486602 0.235552,196.136905 0.500545,200.650751 C0.765539,205.164598 4.551984,209.968526 12.27776,215.56836 C24.100166,224.137533 24.798929,224.870132 24.87835,227.769043 C24.94502,230.202388 23.008779,232.797321 21.17815,233.868653 C17.142076,236.230671 11.517436,233.977253 12.57806,228.968751 C13.317516,225.476876 11.57796,222.968751 8.47796,222.968751 C4.27796,222.968751 2.467756,227.573502 4.87737,232.06836 C7.667765,237.273522 20.77747,238.868458 26.97747,234.668458 C33.17747,230.468458 34.008255,221.839909 28.67815,216.268556 L26.47793,213.968751 L30.17813,210.368165 C33.608302,207.030338 34.80163,204.458399 35.00807,200.087235 C35.21451,195.71607 31.396522,190.61222 23.09996,184.600098 C11.276585,176.032262 10.555124,175.300343 10.49937,172.400879 C10.45223,169.949396 12.036818,167.531595 14.19957,166.30127 C18.10514,164.079509 23.860294,166.192671 22.79967,171.201172 C22.060214,174.693049 23.79977,177.201172 26.89977,177.201172 C31.09977,177.201172 32.906414,172.596077 30.49889,168.100099 C28.756406,164.846061 22.97594,163.006836 18.497835,163.086521 C14.01973,163.166206 10.7253,163.925 8.4003,165.5 Z M11.1,188 L17.49991,192.800293 C20.987853,195.416447 24.752232,198.45487 25.7001,199.600098 C28.250518,202.681552 28.46722,207.048316 26.078,209.968263 L24.27771,212.168458 L17.87781,207.368165 C14.38987,204.752009 10.62848,201.711097 9.67761,200.56836 C6.73798,197.035566 7.109552,192.876782 9.29968,190.200196 L11.1,188 Z" id="rect5279" fill="#A1ACB8" fill-rule="nonzero"></path>
                      <line x1="17.5" y1="149.5" x2="17.5" y2="0.5" id="Line-3" stroke="#979797" stroke-linecap="square"></line>
                      <line x1="17.5" y1="398.5" x2="17.5" y2="249.5" id="Line-3" stroke="#979797" stroke-linecap="square"></line>
                  </g>
              </g>
          </svg>
        </div>

        <div class="col-span-3 flex flex-col">
          <div class="mx-auto my-6 py-4 px-8 border-b border-blue-spirit font-bold text-xl text-gray-600">
            <div>The Sheridan Libraries</div>
            <div>Johns Hopkins University</div>
            <div>410-516-8335 (Library Info Desk)</div>
          </div>

          <div class="flex justify-center w-full h-1/2">
            <img src="/themes/contrib/idc-ui-theme/images/jhu-clocktower.jpg"
              class="w-100 h-full"
              alt="Placeholder showing some JHU building that looks nice"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
